# IDE settings
/.project
/.metadata
/.settings
/.buildpath
/.classpath
/.idea
*.iml
/nbproject

# Magento
/app/etc/local.xml
/errors/local.xml
/media
/var/*
/google*.html
/downloader/.cache/*
/downloader/cache.cfg
/downloader/connect.cfg
/includes/src/*
